<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStylistMobile"
        tools:targetApi="31">
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddContrastQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddUndertoneQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddStyleTypeQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ContrastQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UndertoneQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManagementStyleTypeQuestion"
            android:exported="false" />
        <activity
            android:name=".activity.ManagementSeasonalColorQuestion"
            android:exported="false" />
        <activity
            android:name=".activity.ManagementItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManagementCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManagementUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HowToStyleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SuggestOutfitActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserOutfitActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddOutfitActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddUserItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AIStylistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ClosetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BodyTypeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BodyTypeAboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SeasonalColorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FashionStyleQuizActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FashionStyleAboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SeasonalColorQuizActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ItemCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FashionStyleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ColorPaletteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SeasonalColorAboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BodyMeasurementsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FirebaseActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DNAActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>